.graph-canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.graph-canvas:active {
  cursor: grabbing;
}

.graph-canvas__svg {
  display: block;
  width: 100%;
  height: 100%;
}

.graph-canvas__dot {
  fill: light-dark(rgba(114, 114, 122, 0.42), rgba(142, 142, 147, 0.36));
}
