.graph-canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.graph-canvas:active {
    cursor: grabbing;
}

.graph-canvas__background {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.graph-canvas__world {
    position: absolute;
    inset: 0;
    transform-origin: 0 0;
    will-change: transform;
}

.graph-layer {
    position: absolute;
    inset: 0;
}

.graph-canvas__dot {
    fill: color-mix(in srgb, var(--text-primary) 18%, transparent);
}
