[package]
name = "rusqlite-facet"
version.workspace = true
edition.workspace = true
license.workspace = true

[package.metadata]

[package.metadata."docs.rs"]
rustdoc-args = ["--html-in-header", "arborium-header.html"]

[dependencies]
facet.workspace = true
facet-core.workspace = true
facet-reflect.workspace = true
rusqlite.workspace = true
