.ui-frame-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: .2em 0;
    background: var(--bg-surface);

    border: 1px solid var(--border-default);
    border-left: 4px solid black;

    outline: 1px solid var(--hairline);
    outline-offset: 0;
}
