[package]
name = "peeps-example-selector"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
dialoguer = { version = "0.12", features = ["fuzzy-select"] }
